@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Mulish:ital,wght@1,200&family=Raleway&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.user_heading {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.user_sub_heading {
  font-family: "Raleway", sans-serif;
}

.font_raleway {
  font-family: "Raleway", sans-serif;
}
.font_montserrat {
  font-family: "Montserrat", sans-serif;
}

.color_primary {
  color: #6d27da;
}

.home_container {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 20px;
}

.feed_container {
  display: grid;
  grid-template-columns: 20% auto 20%;
  width: 100%;
  gap: 20px;
}
